@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Alice', serif;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Playfair Display SC', serif; */
    /* font-family: 'Prompt', sans-serif; */
    /* font-family: 'Readex Pro', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Sacramento', cursive; */
}

body {
    height: 100vh;
    /* background-color: rgb(53 124 253 / 86%); */
    /* background-color: rgb(53 253 225 / 86%); */
    /* background-image: linear-gradient(to top left, cyan, rgb(31, 31, 209)); */
    /* background-image: linear-gradient(to top left, rgb(255 235 0), rgb(255 76 76)); */
    background-image: linear-gradient(to left top, rgb(255 81 170), rgb(255, 76, 76));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-x: hidden !important;
}

p {
    /* text-shadow: 1px 1px 4px rgb(184, 182, 182); */
    /* text-shadow: 1px 1px 10px rgb(167, 147, 0); */
    font-weight: 600;
    /* text-decoration: underline wavy red 1px; */
}

input {
    width: 17rem;
    height: 1.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: .5rem;
}

form {
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(0 166 255 / 73%); */
    /* background-image: linear-gradient(to top left, cyan, rgb(31, 31, 209)); */
    /* background-image: linear-gradient(to top left, #ff4700, rgb(255 235 0)); */
    padding: 1.4rem;
    padding-top: 13px;
    border-radius: 13px;
    position: absolute;
    /* box-shadow: 0px 0px 35px 25px whitesmoke; */
    box-shadow: 2px 2px 10px 5px #f5eeee;
}

.anime-cont {
    width: 462.288px;
    height: 570.381px;
    /* overflow: hidden; */
    border-radius: 13px;
    position: relative;
}
.anime {
    width: 190%;
    height: 170%;
    /* background-image: linear-gradient(to top left, #ff4700, rgb(255 235 0)); */
    background-image: linear-gradient(to top left, #0008ff, #ff0707f5);
    /* background-image: linear-gradient(to top left, rgb(255 235 0),#79e2ed); */
    position: absolute;
    top: -200px;
    left: -200px;
    bottom: 0;
    right: 0;
    animation: back 40000s linear infinite;
    filter: blur(100px)
}
@keyframes back {
    to {
        transform: rotate(3600000deg);
    }
}

.outer {
    margin: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.sub-div {
    line-height: 1.2;
    padding-left: 30%;
    padding-top: .2em;
}

.upper-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

button {
    width: 60%;
    margin: auto;
    border-radius: 10px;
    border: none;
    padding: .3rem;
}
button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 25px 5px gray;
    transition: .15s ease-in-out;
}
button:focus {
    animation: focus .1s linear 1;
}

@keyframes focus {
    0% {

    }
    50% {
        transform: translateY(2px)
    }
    100% {

    }
}

.pop-up {
    font-size: 3rem;
    font-weight: 600;
    display: none;
    position: absolute;
}